.guide-card {
    height: 250px;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.55);
    z-index: 1;
}

.card-content {
    position: relative;
    z-index: 2;
}